[submodule "corpora/priapeia"]
	path = corpora/priapeia
	url = https://github.com/lascivaroma/priapeia/
[submodule "corpora/additional-texts"]
	path = corpora/additional-texts
	url = https://github.com/lascivaroma/additional-texts
[submodule "corpora/cdli-cts"]
	path = corpora/cdli-cts
	url = https://github.com/cdli-gh/cdli-cts
