[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask-nemo = "*"
capitains-nautilus = "*"
requests = "*"

[dev-packages]
pycodestyle = "*"
pytest = "*"

[requires]
python_version = "3.7"
