<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=viewport
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CDLI CTS webservice</title>
    <style>
      body {
        width: 100%;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.4285;
      }
      header {
        background-color: lightgrey;
        padding: 20px;
      }
      div, nav {
        margin: 20px;
      }
      h1, h2, h3 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 0.5rem;
      }
      p {
        font-family: "Palatino", "Palatino Linotype", "Georgia", serif;
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div class=container-fluid>
    <header class=jumbotron>
    <h1>CDLI Text Services</h1>
    <p class=lead>This server provides programmatic access to texts from the
       <a href=https://cdli.ucla.edu>Cuneiform Digital Library Initiative</a>.
    </p>
    </header>
    <nav>
    <p>From here you can:
    <ul>
      <li><a href={{nemo}}/>Browse the collection</a> with Nemo.</li>
      <li><a href={{nautilus}}/cts?request=GetCapabilities>Query
          the CTS api</a> with Nautilus.</li>
      {% if requests.head(request.url + 'scaife/',
              allow_redirects=True).status_code == requests.codes.ok %}
      <li><a href=/scaife/>Read tablets</a> with Scaife.</li>
      {% endif %}
    </ul>
    </p>
    </nav>
    </div>
  </body>
</html>
